@import './colors.module.scss';

:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin-top: 0px !important;
    margin-bottom: .25rem !important;
}